<div class="videojs_block" >
    {% if is_youtube %}
    <div id="player" data-video="{{video_id}}" ></div >
    {% elif is_vimeo %}
    <iframe
            id="player_1"
            src="http://player.vimeo.com/video/{{video_id}}?api=1&player_id=player_1&autoplay=1&byline=0&badge=0&portrait=0&title=0"
            width="1280"
            height="720"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
    >
    </iframe >
    {% else %}
    <video
            class="video-js vjs-default-skin vjs-fullscreen"
            controls
            preload="auto"
            width="600"
            height="400"
            id="video-js{{ id }}"
            crossorigin="anonymous"
    >
        <source src="{{ url }}" type="video/mp4" >
        {% if sub_title_url %}
        <track src="{{ sub_title_url }}">
        {% endif %}
        <p class="vjs-no-js" >To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank" >supports HTML5 video</a ></p >
    </video >
    <script >
        document.getElementsByTagName('video')[0].ready = function () {
            if ($('.xblock-render').length == 0) {
                $('video')[0].play();
            }
        }
    </script >
    {% endif %}
</div >
